[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/manan/Desktop/refer_featues.csv]
row=0
col=0

[/home/manan/Desktop/chat_dashboard]
row=1
col=0

[/home/manan/Desktop/renderjson]
row=2
col=0

