[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/manan/Desktop/renderjson]
row=4
col=1

[/home/manan/Desktop/date_ner_steps.txt]
row=5
col=1

[/home/manan/Desktop/Untitled Document 1]
row=4
col=2

[/home/manan/Desktop/chatbot_ner]
row=1
col=0

[/home/manan/Desktop/CRF]
row=4
col=0

[/home/manan/Desktop/ML_api_server]
row=1
col=1

[/home/manan/Desktop/date_test_case.csv]
row=6
col=1

[/home/manan/Desktop/haptik_api]
row=6
col=0

[/home/manan/Desktop/Mtestas]
row=3
col=1

[/home/manan/Desktop/Mtest]
row=2
col=1

[/home/manan/Desktop/refer_featues.csv]
row=2
col=2

[/home/manan/Desktop/embark-framework]
row=5
col=0

[/home/manan/Desktop/request.py]
row=3
col=2

[/home/manan/Desktop/chat_dashboard]
row=2
col=0

[/home/manan/Desktop/haptik_ner]
row=0
col=1

[/home/manan/Desktop/Mtest.zip]
row=1
col=2

[/home/manan/Desktop/imp funcs]
row=0
col=2

[/home/manan/Desktop/College]
row=3
col=0

[/home/manan/Desktop/2017-07-20-flightschannel-days-1]
row=0
col=0

